<div class="main">
    <h1 appZoomCharacter [zoomScale]="1.5" [transition]="'0.1s ease'">
        {{ componentTitle }}
    </h1>
    <label for="addItemInput" class="todo-label">What's the plan?</label>

    <input #newItem placeholder="add an item (e.g., 'Learn Angular')"
        (keyup.enter)="addItem(newItem.value); newItem.value = ''" class="lg-text-input" id="addItemInput" />

    <button class="btn-primary" (click)="addItem(newItem.value); newItem.value = ''">
        Add
    </button>

    <!-- Buttons that show all, still to do, or done items on click -->
    <div class="btn-wrapper">
        <button class="btn btn-menu" [class.active]="filter() === 'all'" (click)="filter.set('all')">
            All
        </button>
        <button class="btn btn-menu" [class.active]="filter() === 'active'" (click)="filter.set('active')">
            To Do
        </button>
        <button class="btn btn-menu" [class.active]="filter() === 'done'" (click)="filter.set('done')">
            Done
        </button>
    </div>

    <h2>
        {{ items().length }}
        <span>@if (items().length === 1) { item } @else { items } </span>
    </h2>

    <ul class="todo-list">
        @for (item of items(); track item.description) {
        <li>
            <app-item (remove)="remove(item)" [item]="item"> </app-item>
        </li>
        } @empty {
        <p class="empty-list-message">No items to display. Add one above!</p>
        }
    </ul>
</div>