.main {
  max-width: 600px;
  width: 85%;
  margin: 2rem auto;
  padding: 1.5rem;
  text-align: left;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%), 0 2.5rem 5rem 0 rgb(0 0 0 / 10%);
  border-radius: 8px;
  background: #fff;
}
.text-success {
  color: green;
  font-weight: bold;
}
.text-danger {
  color: red;
  font-weight: bold;
}
.hello-text {
  font-size: 1.2rem;
  margin-top: 0.5rem;
}
label {
  cursor: pointer;
  display: inline-block;
  margin-top: 0.5rem;
}

